@namespace Views

<div class="@this.BannerImageCssParameter">
    <p class="@this.BannerTitleCssParameter">
        @this.BannerTitleParameter
    </p>
    <div class="business_name_container text_center">
        <p class="business_name">
            @this.BusinessNameParameter
        </p>
    </div>
</div>

<div class="container">
    <h1 class="text_center pad_top_bottom_20">
        @this.BusinessNameFullParameter
    </h1>
</div>



@*

    <div class="container">
    <h3 class="text_center pad_top_bottom_10">Achieve Excellent English (AEE)</h3>
    </div>

    <div class="@this.BannerImageCssParameter">
    <p class="@this.BannerTitleCssParameter">
    @this.BannerTitleParameter
    </p>
    </div>
*@
