@namespace Views

<div class="@this.BannerImageCssParameter">
    <p class="@this.BannerTitleCssParameter">
        @this.BannerTitleParameter
    </p>
    <div class="@this.BusinessNameContainerCss">
        <p class="@this.BusinessNameCss">
            @this.BusinessNameParameter
        </p>
    </div>
</div>

<div class="@this.BannerLowerContainerCss">
    <h1 class="@this.BannerLowerItemCss">
        @this.BusinessNameFullParameter
    </h1>
</div>
