@namespace Views

<p id="@this.ToggleNavMenuId" class="@this.NavigationToggleCss" @onclick="this.OnToggle">
    <button class="@this.NavigationMenuButtonCss">
        <span class="@this.ButtonIconBarCss"></span>
        <span class="@this.ButtonIconBarCss"></span>
        <span class="@this.ButtonIconBarCss"></span>
    </button>
</p>
